<tr>
  <td>{{Club}}</td>
  <td>{{this['Club Head Speed']}}</td>
  <td>{{Club}}</td>
  <td>{{Club}}</td>
  <td>{{Club}}</td>
  <td>{{Club}}</td>
  <td>{{Club}}</td>
  <td>{{Club}}</td>
  <td>{{Club}}</td>
  <td>{{Club}}</td>
  <td>{{Club}}</td>
</tr>
