<td>{{club}}</td>
<td>{{type}}</td>
<td>{{club_head_speed}}</td>
<td>{{launch_angle}}</td>
<td>{{descent_angle}}</td>
<td>{{azimuth}}</td>
<td>{{side_spin}}</td>
<td>{{back_spin}}</td>
<td>{{total_spin}}</td>
<td>{{carry}}</td>
<td>{{total_distance}}</td>
<td>{{offline}}</td>
